* {
  box-sizing: border-box;
}



.todoList,
.completed {
  width: 100%;
  max-width: 900px;
  margin: 70px auto;
  background-color: #8FB399;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;

}

header {
  margin: 5px 1px;
  background-color: #B3A1A1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  color: snow;
}

#count,
h1 {
  margin-right: auto;
}

#count {
  padding-top: 10px;
  padding-left: 10px;
}

/**Input Data Fields CSS*/
.inputDataFields {
  width: 100%;
  max-width: 1000px;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25rem;
  flex-basis: 100px;
}

#taskText,
#dateText,
#menuText {
  padding-right: 10px;
}

.textField,
.dateField,
.menuField,
.addButton {}

input[type=text] {
  margin-bottom: 5px;
  margin-left: 5px;
  outline: none;
  order: 2
}

input[type=text],
input[type=date],
#priority {
  border-width: 0 0 1px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #568865;
  border-style: none;
  text-shadow: none;
  color: snow;
}

.addbtn {

  border: none;
  margin-right: 5px;
  font-family: Myriad;
  outline: none;
  font-size: 1.15em;
  font-weight: bold;
  color: rgb(90, 83, 83);
  background-color: #568865;
  padding: 5px;
  margin-top: -5px;
  cursor: pointer;
}

.addbtn:hover {
  background-color: #03e447;
}

/*Table Header*/

.tableHeader,
.compTableHeader {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-top: 10px;
  padding: 10px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: space-evenly;
}

.compTableHeader {}

.compTask {
  margin-left: 35px;
}

.task {
  margin-left: 25px;
}

.completion {
  margin-right: 2rem;
  margin-left: 2rem;
}

.priority {
  margin-right: 6rem;
}

#completedTableHeader {
  margin-right: auto;
}

/*Table Content*/
.tableContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tableBlock>div:nth-child(even) {
  background-color: #568865;
}

.Add {
  color: #00ff4c;
  font-size: 25px;

}

.Completed {
  color: rgb(17, 190, 17);
  font-size: 25px;

}

.Deleted {
  color: white;
  font-size: 25px;
}

.iconDeleted {
  background-color: rgba(255, 0, 0, 0.698);
  padding: 20px 10px;
}

.iconCompleted {
  background-color: #50ce169f;
  padding: 20px 10px;
}

.iconAdd {
  background-color: #25c054;
  padding: 20px 10px;
}

.warningMessage {
  color: black;
}

.deletedMessage {
  color: black;
}

.completedMessage {
  color: black;
}

.warningMessage,
.deletedMessage,
.completedMessage {
  padding: 20px 20px;
  font-size: 18px;
  font-weight: 500;
}

.alertWarning {
  background: white;
  border-top: 1px solid #03e447;
  border-right: 1px solid #03e447;
  border-bottom: 1px solid #03e447;
  border-left: 6px solid #03e447;
}

.alertCompleted {
  background: white;
  border-top: 1px solid #50ce16;
  border-right: 1px solid #50ce16;
  border-bottom: 1px solid #50ce16;
  border-left: 6px solid #50ce16;

}

.alertDeleted {
  background: white;
  border-left: 6px solid red;
  border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;

}

.alertWarning,
.alertCompleted,
.alertDeleted {
  max-width: 410px;
  display: flex;
  position: relative;
  border-radius: 6px;
  margin: 70px auto;
}

/**Add Task Animation*/
.alertWarning.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateY(-100%);
  }
}

.alertWarning.hide {
  animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
  100% {
    transform: translateY(-300%);
  }
}

/**Compelted Task Animation*/
.alertCompleted.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateY(-100%);
  }
}

.alertCompleted.hide {
  animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
  100% {
    transform: translateY(-300%);
  }
}

/*Deleted Task Animation*/
.alertDeleted.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateY(-100%);
  }
}

.alertDeleted.hide {
  animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
  100% {
    transform: translateY(-300%);
  }
}

.warningImage {
  background-color: #ffa502;
}

.warningImage,
.completedImage,
.deletedImage {
  position: absolute;
  top: 70%;
  padding-right: 20px;
  transform: translateY(-90%);
}



@media (min-width:80px) and (max-width:600px) {

  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  #count {
    order: 1;
  }

  #count,
  h1 {
    margin-left: auto;
  }

  /**Input Data Fields CSS*/
  .inputDataFields {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  #text,
  #date,
  #priority {
    grow: 5;
    width: 75%;
  }

  .textField,
  .dateField,
  .menuField,
  .addButton {
    align-content: center;
  }

  .textField,
  .dateField,
  .menuField {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
  }

  #taskText,
  #dateText,
  #menuText {
    margin-right: auto;
  }

  .addbtn {
    margin-top: 7px;
  }

  .tableHeader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2px 0px;
    flex-grow: 1;
    flex-basis: 100px;
  }

  .task,
  .completion,
  .priority {}
}